.happy-customer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px;
}

.happy-customer-container:first-child {
    position: relative;
}
.happy-img-div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    border: 4px solid #f7f2f2;
}

.happy-img-div.div1 {
    left: 180px;
}

.happy-img-div.div2 {
    left: 240px;
}

.happy-img-div.div3 {
    left: 300px;
}

.happy-img-div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}